.App {
  text-align: center;
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  padding: 10px;
  text-align: center;
  border-top: 1px solid grey;
  font-size: smaller;
}

.bloque{
  background-color:white;
  width: 200px; 
  height: 200px;
  border: 1px solid #000; /* Borde para cada casilla */
  box-sizing: border-box; /* Incluye el borde en el tamaño total de la casilla */
  cursor: pointer; /* Cambia el cursor al hacer hover sobre las casillas */
  font-size: 120px; /* Tamaño de la fuente para las casillas */
}

.X {
  color: red; /* Color para las X */
}

.O {
  color: lightseagreen; /* Color para las O */
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  width: 600px; 
  margin: 0 auto;
  border-radius: 50%;
}

.texto-colorido {
  font-size: 3em; 
  display: inline-block ;
  background: black; 
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.botón-estético {
  background: linear-gradient(to right, #05c971, #79ff5e); /* Fondo degradado */
  border: none; /* Borde sin estilo */
  border-radius: 25px; /* Bordes redondeados */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block;
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor */
}

.botón-estético:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 54, 38, 0.597); /* Sombra al pasar el ratón */
}